body{

margin: 0;
padding: 0;
background: url(Overview.jpg) no-repeat;
background-size: cover;




}



 



.EssentialsX
{




align-items: center;

}
.EssentialsX h1 
{
    opacity: 0.75;
    font-size: 88px;
    padding: 0 14px;
    text-align: center;

    font-family: 'Encode Sans SC', sans-serif;

    color: rgb(197, 182, 182);
}


 

.menu  {


    align-items: center;

}
*{
    align-items: center;
    text-align: center;
    background-color: none;
}

.option input{

    font-family: 'Encode Sans SC', sans-serif;



}



.option{
    color: rgb(197, 182, 182);
    margin: 12px;
height: 60px;
width: 190px;
border-radius: 7px;
background: rgb(65, 105, 225);
font-size: 20px;
border: rgb(65, 105, 225);
font-family: 'Encode Sans SC', sans-serif;

}
.option:hover{

    box-shadow: 0 0 15px 5px rgba(0,0,0, 0.7);
    cursor: pointer;
    height: 60px;
    width: 190px;
    border-radius: 7px;
    background: rgba(65, 105, 225, 0.819);

    border: 5px solid rgba(65, 105, 225, 1);
    font-family: 'Encode Sans SC', sans-serif;

    }

.option a{

font-size: 22px;
text-decoration: none;
color: white;


}



@media  screen and (max-width: 420px) {

    body{

        margin: 0;
        padding: 0;
        background: url(./Overview.jpg) no-repeat;
       
        
        
        }
        
        
        
         
        

        
        .EssentialsX
        {
        
        
        
        
            align-items: center;
        
        }
        .EssentialsX h1 
        {
            opacity: 0.75;
            font-size: 38px;
            padding: 0 14px;
            text-align: center;
            color: rgb(197, 182, 182);
            

            font-family: 'Encode Sans SC', sans-serif;
        
        
        }
        
        
         
        
        .menu  {
        
            
        
            align-items: center;

        }
        *{
        
            align-items: center;
            text-align: center;
            background-color: none;
        }
        
        .option input{
        
            font-family: 'Encode Sans SC', sans-serif;
        
        }
        
        
        
        .option{
       
            color: rgb(197, 182, 182);
            align-items: center;
            margin: 20.5px;
        height: 50px;
        width: 170px;
        
    
        border-radius: 7px;
        background: rgb(65, 105, 225);
        font-size: 20px;
        border: rgb(65, 105, 225);
        font-family: 'Encode Sans SC', sans-serif;
        
        
        }
        .option:hover{
            align-items: center;
            box-shadow: 0 0 15px 5px rgba(0,0,0, 0.7);
            cursor: pointer;
            height: 60px;
            width: 190px;
            border-radius: 7px;
            background: rgba(65, 105, 225, 0.819);
        
            border: 5px solid rgba(65, 105, 225, 1);
            font-family: 'Encode Sans SC', sans-serif;
            
            }
        
        .option a{
            align-items: center;
        font-size: 22px;
        text-decoration: none;
        color: gray;
        
        
        }
        
    
}
