
body
{
    
    background-image: url("./images/jpeg.jpg");
    background-color: lightblue;
}

#container
{

    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;

}
#ContentIndex
{

 

    background-color: darkgray;
    padding: 10px;
    height: 700px;
    color: darkviolet;
    font-size: 27px;


  

}

#ContentIndex2
{

 

    background-color: darkgray;
    padding: 10px;
    height: 700px;
    color: darkviolet;
    font-size: 27px;


  

}

h5
{

color: brown;
margin-top: 50px;
margin-bottom: 350px;
margin-left: 50px;
margin-right: 50px;
font-size: 28px;

}



h4
{

color: blue;
margin-top: 50px;
margin-bottom: 350px;
margin-left: 500px;
margin-right: 600px;
font-size: 38px;

}


#menu
{
text-decoration: none;
background-color: rgb(58, 57, 57);
color: white;
padding: 20px;



}

#menu a 
{
list-style: none;
text-decoration: none;


}

#menu li
{
list-style: none;
text-decoration: none;


}
.option
{
    display: block;
text-decoration: none;    
    float: left;
    min-width: 60px;
    height: 55px;
    font-size: 40px;
padding: 0 80px;
   

}

.content
{

 background-color: #c7c1c1;
 width: auto;
 margin-left: 1px;
 margin-right: 1px;
margin-top: 20px;
  
 min-width: 60px;
height: 700px;



}
.fit-content
{

    height: auto;
    background-color: rgb(158, 155, 155);


}
.fit-content h1
{

font-size: 80px;
padding: 0 400px;

}
.fit-content td
{

    padding: 0 60px;
    border-style: solid;
    border-color: rgb(75, 73, 73);

}

.fit-content th
{

    
    font-size: 48px;

}
.fit-content
{
   
 font-size: 28px;


}
.button
{
    text-decoration: none;   
    display: block;
    float: left ;
    min-width: 50px;
    height: 40px;
    font-size: 34px;
    padding: 15px;
    color: blueviolet;
}



.option:hover
{
    text-decoration: none;   
background-color: darkgray;
color: green;
cursor: pointer;



}
